.avatar {
    background-color: #54436B;
    width: 45px;
    height: 40px;
    color: aliceblue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin-right: 10px;;
}